@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { background: #000000; color: #eef4f1; }
html { overflow-y: scroll; }
* { border-color: #1a2320; }
::selection { background: #00d68f; color: #000; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] { -moz-appearance: textfield; }
